<!DOCTYPE html>
<html lang="de">
<!-- Machine code  -->

<head>
    <meta charset="UTF-8">
    <title>🐱‍👤Holy Grail Layout🐱‍🏍</title>
    <link rel="stylesheet" href="../styles/mainStyle.css" />
</head>

<!-- Human Code -->

<body>
    <div class="body">
        <div class="el NavBar">
            <div class="FlexNavItems">
                <div class="LeftNaveSide">
                    <div class="Logo"><h1>Logo</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="RightNaveSide">
                    <button>Write me an Email</button>
                </div>
            </div>
        </div>

        <div class="el Content">
            <section class="TodoListSection">
                <div class="ContentHeader">
                    <h1 class="Intro"> Welcome to me simple ToDo List Projekt 🐱‍🏍
                    </h1>
                </div>
            </section>
        </div>

        <div class="el LeftPanel"></div>

        <div class="el RightPanel"></div>

        <div class="el Footer"></div>
    </div>
</body>

</html>